<div class="nav-wrapper">
  <div class="nav-box">
    <nav class="top-bar">
      <%= render 'layouts/top-bar' %>
    </nav>
    <div class="press_jobs-area">
      <div class="completion-steps">
        <%= render 'layouts/steps' %>
      </div>
      <h3 class="page-title">Select a press</h3>
      <div class="press-selection-form-container">
          <form class="custom press-jobs-table">
            <% @presses.each do |press| %>
                <%= image_tag("#{press.icon.url(:small) if press.icon.present?}", :class => "press-selection-icon") %>
                <label for="checkbox1" class="press-checkbox" id=<%= press.id %>>
                  <input type="checkbox" id="checkbox1" style="display: none;">
                  <%= press.name %> <span class="custom checkbox large-check"></span>
                </label>
                <br />
            <% end %>
          </form>
          <br />
      </div>
    </div>
    <div class="progress-arrows">
      <% if current_user.presses %>
          <div class="next-page presses-exist">
            <%= link_to '<i class="foundicon-right-arrow icon-medium next-arrow press-cost-summary"></i>'.html_safe, "#" %>
            <p class="next-text"> Continue </p>
          </div>
      <% end %>
      <div class="next-page press-selection">
        <%= link_to '<i class="foundicon-right-arrow icon-medium next-arrow press-cost-summary"></i>'.html_safe, "#" %>
        <p class="next-text"> Continue </p>
      </div>
      <div class="previous-page">
        <%= link_to '<i class="foundicon-left-arrow icon-medium back-arrow"></i>'.html_safe, jobs_path %>
        <p class="back-text"> Back </p>
      </div>
      </div>
    </div>
  </div>
</div>


<script language="javascript">
    window.presses = <%=raw current_user.presses.to_json %>;
    window.presses = window.presses.match(/\d+/g)
</script>
