<div class="nav-wrapper">
  <div class="nav-box">
    <nav class="top-bar">
      <%= render 'layouts/top-bar' %>
    </nav>
    <div class="sidebar">
      <%= render 'layouts/side-bar' %>
    </div>
    <div class="press_jobs-area">
      <div class="completion-steps">
        <%= render 'layouts/steps' %>
      </div>
      <h3 class="page-title">ROI</h3>
      <div class="first-job">
        <%= render :partial => 'layouts/roi', :locals => { :presses => @presses } %>
      </div>
    </div>


    <div class="progress-arrows">
      <div class="previous-page">
        <%= link_to '<i class="foundicon-left-arrow icon-medium back-arrow"></i>'.html_safe, dashboards_path %>
        <p class="back-text"> Back </p>
      </div>
    </div>
  </div>
</div>
</div>


