<div class="nav-wrapper">
  <div class="nav-box">
    <nav class="top-bar">
      <%= render 'layouts/top-bar' %>
    </nav>
    <div class="press_jobs-area">
      <div class="completion-steps">
        <%= render 'layouts/steps' %>
      </div>
      <h3 class="page-title">ROI</h3>
      <div class="first-presstype">
        <%= render :partial => 'layouts/roi', :locals => { :presses => @presses, :press_job => PressJob.newest(@jobs.first.press_jobs) } %>
      </div>
      <% if @presses.length > 1 %>
          <div class="last-presstype" style="display: none">
            <%= render :partial => 'layouts/roi', :locals => { :presses => @presses, :press_job => PressJob.oldest(@jobs.first.press_jobs) } %>
          </div>
      <% end %>
    </div>

    <div class="progress-arrows">
      <div class="previous-page">
        <%= link_to '<i class="foundicon-left-arrow icon-medium back-arrow"></i>'.html_safe, cost_analyses_path %>
        <p class="back-text"> Back </p>
      </div>
    </div>
  </div>
</div>
</div>


