<!--%h2 You're almost done! Now create a password to securely access your account.-->
<!--= semantic_form_for(resource, :as => resource_name, :url => confirm_path) do |form|-->
<!--= devise_error_messages!-->
<!--= form.inputs do-->
<!--= form.input :password, :input_html => {:autofocus => true}-->
<!--= form.input :password_confirmation-->
<!--= form.input :confirmation_token, :as => :hidden-->
<!--= form.actions do-->
<!--= form.action :submit, :label => 'Confirm Account'-->


<div class="login-wrapper">
  <div class="login-fields">
    <h3 class="subheader">You're almost done! Now create a password to securely access your account.</h3>

    <%= form_for(resource, :as => resource_name, :url => confirm_path) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.text_field :first_name, :placeholder => "First Name" %></div>
        <div><%= f.text_field :last_name, :placeholder => "Last Name" %></div>
        <div><%= f.text_field :designation, :placeholder => "Designation" %></div>
        <div><%= f.text_field :department, :placeholder => "Department/Division" %></div>
        <div><%= f.text_field :contact_number, :placeholder => "Contact Number" %></div>

        <div><%= f.password_field :password, :placeholder => "Password" %></div>
        <div><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
        <%= f.hidden_field :confirmation_token %>

        <div><%= f.submit "Confirm Account", :class => "login-button medium button radius expand" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

