<div class="edit-job-wrapper">
  <%= form_for(single_job, :html => { :class => "custom edit-form" }) do |f| %>
      <div class="inline-errors"></div>
      <% if single_job.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(single_job.errors.count, "error") %> prohibited this job from being saved:</h2>
            <ul>
              <% single_job.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div>
        <h3 class="form-header subheader"> Edit Job </h3>
      </div>
    <div class="per-month">
      <div class="per-month-title">Copies per month: <div class="per-month-total" id="copies_per_month_edit_job_<%= single_job.id %>"><%= number_with_delimiter(single_job.copies_per_month, :delimiter => ',') %></div></div>
      <div class="per-month-title">Pages per month: <div class="per-month-total" id="pages_per_month_edit_job_<%= single_job.id %>"><%= number_with_delimiter(single_job.pages_per_month, :delimiter => ',') %></div></div>
    </div>
      <div class="field">
        <%= f.text_field :name, :autofocus => true, :placeholder => "Job Name", :required => true %>
      </div>
      <div class="field">
        <%= f.text_field :number_of_jobs, :class => "float-input", :id => "number_of_jobs_edit_job_#{single_job.id}", :required => true %>
        <%= f.label :number_of_jobs_per_month %>
      </div>
      <div class="field">
        <%= f.text_field :copies_per_job, :class => "float-input copies_per_job_edit_job", :id => "copies_per_job_edit_job_#{single_job.id}", :required => true %>
        <%= f.label :copies_per_job %>
      </div>
      <div class="job-size">
        <%= f.select(:job_size, Job.available_sizes, {:include_blank => false, :selected => single_job.job_size} ) %>
      </div>

      <div class="field inline-field">
        <%= f.text_field :multicolor_clicks, :required => true %>
        <%= f.label :multicolor_clicks %>
      </div>

      <%= f.check_box :black %> Black

      <div class="field inline-field number_of_pages_edit_job">
        <%= f.text_field :number_of_pages, :id => "number_of_pages_edit_job_#{single_job.id}", :required => true %>
        <%= f.label :number_of_pages_per_job %>
      </div>
      <div class="plex">
        <%= f.select(:plex, [ "Simplex", "Duplex"], {:include_blank => false, :selected => single_job.data["plex"]}) %>
      </div>

      <div class="field">
        <%= f.text_field :sale_price, :required => true %>
        <%= f.label :sale_price_per_copy %>
      </div>
      <div class="field">
        <%= f.text_field :annual_growth, :placeholder => "%", :required => true %>
        <%= f.label :annual_growth %>
      </div>
      <div class="field">
        <%= f.text_field :job_percentage, :placeholder => "%", :required => true %>
        <%= f.label :job_percentage %>
      </div>
      <div class="actions">
        <%= f.submit "Edit Job", :class => "login-button medium button radius custom-expand" %>
      </div>
  <% end %>
</div>
