<div class="edit-job-wrapper">
  <%= form_for(single_job, :html => { :class => "custom" }) do |f| %>
      <div class="inline-errors"></div>
      <% if single_job.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(single_job.errors.count, "error") %> prohibited this job from being saved:</h2>
            <ul>
              <% single_job.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div>
        <h3 class="form-header subheader"> Edit Job </h3>
      </div>
      <div class="field">
        <%= f.text_field :name, :autofocus => true, :placeholder => "Job Name", :required => true %>
      </div>
      <div class="field">
        <%= f.text_field :pages_per_month, :readonly => true, :class => "float-input disabled-appearance", :required => true %>
        <%= f.label :pages_per_month %>
      </div>
      <div class="field">
        <%= f.text_field :number_of_jobs, :class => "float-input", :required => true %>
        <%= f.label :number_of_jobs_per_month %>
      </div>
      <div class="field">
        <%= f.text_field :copies_per_job, :class => "float-input", :required => true %>
        <%= f.label :copies_per_job %>
      </div>
      <div class="job-size">
        <%= custom_select("Job Size", "job_size", "job[job_size]", Job.available_sizes) %>
      </div>
      <div class="field inline-field">
        <%= f.text_field :multicolor_clicks, :required => true %>
        <%= f.label :multicolor_clicks %>
      </div>

      <label for="checkbox1" class="black-checkbox"><input type="checkbox" id="black-checkbox" name="job[black]" style="display: none;"><span class="custom checkbox"></span> Black</label>


      <div class="field inline-field">
        <%= f.text_field :number_of_pages, :required => true %>
        <%= f.label :number_of_pages_per_job %>
      </div>
      <div class="plex">
        <%= custom_select("Plex", "plex", "job[plex]", [ "Simplex", "Duplex"]) %>
      </div>

      <div class="field">
        <%= f.text_field :sale_price, :required => true %>
        <%= f.label :sale_price_per_copy %>
      </div>
      <div class="field">
        <%= f.text_field :annual_growth, :placeholder => "%", :required => true %>
        <%= f.label :annual_growth %>
      </div>
      <div class="field">
        <%= f.text_field :job_percentage, :placeholder => "%", :required => true %>
        <%= f.label :job_percentage %>
      </div>
      <div class="actions">
        <%= f.submit "Edit Job", :class => "login-button medium button radius custom-expand" %>
      </div>
  <% end %>
</div>
