<div class="new-job-wrapper">
  <%= form_for(@job, :html => { :class => "custom" }) do |f| %>
    <div class="inline-errors"></div>
    <% if @job.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

        <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="per-month">
      <div class="per-month-title">Copies per month: <div class="per-month-total" id="copies_per_month">0</div></div>
      <div class="per-month-title">Pages per month: <div class="per-month-total" id="pages_per_month">0</div></div>
    </div>
    <div>
      <h3 class="form-header subheader">Create a New Job </h3>
    </div>
    <div class="field">
      <%= f.text_field :name, :autofocus => true, :placeholder => "Job Name", :required => true %>
    </div>
    <div class="field">
      <%= f.text_field :number_of_jobs, :class => "float-input new-selector", :id => :number_of_jobs, :required => true %>
      <%= f.label :number_of_jobs_per_month %>
    </div>
    <div class="field">
      <%= f.text_field :copies_per_job, :class => "float-input new-selector", :id => :copies_per_job, :required => true %>
      <%= f.label :copies_per_job %>
    </div>
    <div class="job-size new-selector">
      <%= custom_select("Job Size", "job_size", "job[job_size]", Job.available_sizes) %>
    </div>
    <div class="field inline-field new-selector">
      <%= f.text_field :multicolor_clicks, :required => true %>
      <%= f.label :multicolor_clicks %>
    </div>

    <label for="checkbox1" class="black-checkbox new-selector"><input type="checkbox" id="black-checkbox" name="job[black]" style="display: none;"><span class="custom checkbox"></span> Black</label>


    <div class="field inline-field new-selector">
      <%= f.text_field :number_of_pages, :id => :number_of_pages, :required => true %>
      <%= f.label :number_of_pages_per_job %>
    </div>
    <div class="plex new-selector">
      <%= custom_select("Plex", "plex", "job[plex]", [ "Simplex", "Duplex"]) %>
    </div>

    <div class="field">
      <%= f.text_field :sale_price, :required => true %>
      <%= f.label :sale_price_per_copy %>
    </div>
    <div class="field">
      <%= f.text_field :annual_growth, :placeholder => "%", :required => true %>
      <%= f.label :annual_growth %>
    </div>
    <div class="field">
      <%= f.text_field :job_percentage, :placeholder => User.remaining_job_percentage(@jobs), :required => true %>
      <%= f.label :job_percentage %>
    </div>
    <div class="actions">
      <%= f.submit "Create Job", :class => "login-button medium button radius custom-expand", :style => "width: 180px; margin-top: 1em;" %>

      <%= link_to "cancel", "#", :onclick => "cancelNewJob()", :style => "margin-left: 25px;" %>

    </div>
  <% end %>
</div>
