<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, :autofocus => true, :placeholder => "Job Name" %>
  </div>
  <div class="field">
    <%= f.text_field :run_length %>
    <%= f.label :run_length %><br />
  </div>
  <div class="field">
    <%= f.text_field :clicks %>
    <%= f.label :clicks %><br />
  </div>
  <div class="field">
    <%= f.text_field :book_size %>
    <%= f.label :book_size %><br />
  </div>
  <div class="field">
    <%= f.text_field :pages %>
    <%= f.label :pages %><br />
  </div>
  <div class="field">
    <%= f.text_field :sale_price, :placeholder => "$" %>
    <%= f.label :sale_price %><br />
  </div>
  <div class="field">
    <%= f.text_field :annual_growth, :placeholder => "%" %>
    <%= f.label :annual_growth %><br />
  </div>
  <div class="field">
    <%= f.text_field :job_percentage, :placeholder => "%" %>
    <%= f.label :job_percentage %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
