<div class="nav-wrapper">
  <div class="nav-box">
    <nav class="top-bar">
      <%= render 'layouts/top-bar' %>
    </nav>
    <div class="jobs-area">
      <div class="completion-steps">
        <%= render 'layouts/steps' %>
      </div>
      <h3 class="page-title">Job Basket</h3>
      <%= link_to '<i class="foundicon-trash icon-medium"></i>'.html_safe, jobs_empty_basket_path, method: :post, data: { confirm: 'Delete all jobs?' } %>
      <%= link_to '<i class="foundicon-plus icon-medium"></i>'.html_safe, "#" %>
      <table class="jobs-table">
        <% @jobs.each do |job| %>
            <tr>
              <td width="20" style="white-space: nowrap"><%= job.job_percentage %> %</td>
              <td width="250"><%= link_to "#{job.name}", "#", :data => { "reveal-id" => "#{job.id}-modal" } %></td>
              <td width="40"><%= link_to 'Edit', "#", :data => { "reveal-id" => "#{job.id}-modal" } %></td>
              <td width="40"><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
      </table>
      <br />
      <div class="next-page">
        <%= link_to '<i class="foundicon-right-arrow icon-medium next-arrow"></i>'.html_safe, new_press_job_path %>
        <p class="next-text"> Continue </p>
      </div>
    </div>
    <div class="new-job">
      <%= render 'form' %>
    </div>
  </div>
</div>


<% @jobs.each do |job| %>
    <%= content_tag :div, :id => "#{job.id}-modal",  :class => "reveal-modal tiny" do -%>
        <%= render :partial => "jobs/edit-modal", :locals => { :single_job => job } %>
        <a class="close-reveal-modal">&#215;</a>
    <% end -%>
<% end %>

<script type="text/javascript">
  window.remaining_percentage = <%= User.remaining_job_percentage(@jobs) %>
</script>