<div class="login-wrapper">
  <%= image_tag("hp_logo_small.png", :class => "hp_logo") %>
  <div class="login-fields">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><% f.label :email %>
          <%= f.email_field :email, :placeholder => "Email", :autofocus => true %></div>

        <div><% f.label :password %>
          <%= f.password_field :password, :placeholder => "Password" %></div>
        <div><%= f.submit "Log in", :class => "login-button medium button radius expand" %></div>

  <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <br />
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <!--#I added the above line to prevent people from adding a new account with an existing email.-->
        <%= link_to "Need a login?", new_registration_path(resource_name) %><br />
    <% end -%>
    <br />

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <!--#I added the above line to prevent people from adding a new account with an existing email.-->
        <%= link_to "Need a login?", new_registration_path(resource_name) %><br />
    <% end -%>
  </div>
</div>

