<div class="press-cost-summary-container">
  <div class="press-cost-summary-navigation" >
    <%= link_to '<i class="foundicon-left-arrow icon-tiny next-arrow press-cost-summary-carousel"></i>'.html_safe, "#" %>
    <h3 class="subheader inline-header"><%= job.name %></h3>
    <%= link_to '<i class="foundicon-right-arrow icon-tiny next-arrow press-cost-summary-carousel"></i>'.html_safe, "#" %>
  </div>
  <div class="left-press">
    <%= image_tag("#{PressJob.newest(job.press_jobs).press_type.icon.url(:small) if PressJob.newest(job.press_jobs).press_type.icon.present?}") %>
    <h4 class="subheader"><%= PressJob.newest(job.press_jobs).press_type.name %> </h4>
        <table class="cost-analysis-table">
          <tr>
            <td width="140"><p>Hardware</p></td>
            <td width="100"><%= "$#{PressJob.newest(job.press_jobs).press_cost}"%></td>
          </tr>
          <tr>
            <td width="140"><p>Media</p></td>
            <td width="100"><%= "$#{PressJob.newest(job.press_jobs).calculated_media_cost.round(2)}"%></td>
          </tr>
          <tr>
            <td width="140"><p>Labor</p></td>
            <td width="100"><%= "$#{PressJob.newest(job.press_jobs).labor_cost}"%></td>
          </tr>
          <tr>
            <td width="140"><p>Service</p></td>
            <td width="100"><%= "$#{PressJob.newest(job.press_jobs).spi_cost.round(2)}"%></td>
          </tr>
          <tr>
            <td width="140"><p>Clicks</p></td>
            <td width="100"><%= "$#{PressJob.newest(job.press_jobs).calculated_clicks_cost.round(2)}"%></td>
          </tr>
          <tr>
            <td width="140"><strong>Total</strong></td>
            <td width="100"><strong><%= "$#{}"%></strong></td>
          </tr>
        </table>
        <br />
        <table class="cost-analysis-table">
          <tr>
            <td width="140"><p>Cost per Job</p></td>
            <td width="100"><%= "$"%></td>
          </tr>
          <tr>
            <td width="140"><p>Cost per Copy</p></td>
            <td width="100"><%= "$"%></td>
          </tr>
          <tr>
            <td width="140"><p>No. jobs per month</p></td>
            <td width="100"><%= "$"%></td>
          </tr>
          <tr>
            <td width="140"><p>Copies per job</p></td>
            <td width="100"><%= "$"%></td>
          </tr>
        </table>
  </div>
  <div class="right-press">
    <%= image_tag("#{PressJob.oldest(job.press_jobs).press_type.icon.url(:small) if PressJob.oldest(job.press_jobs).press_type.icon.present?}") %>
    <h4 class="subheader"><%= PressJob.oldest(job.press_jobs).press_type.name %> </h4>
        <table class="cost-analysis-table">
          <tr>
            <td width="140"><p>Hardware</p></td>
            <td width="100"><%= "$#{PressJob.oldest(job.press_jobs).press_cost}"%></td>
          </tr>
          <tr>
            <td width="140"><p>Media</p></td>
            <td width="100"><%= "$#{PressJob.oldest(job.press_jobs).calculated_media_cost.round(2)}"%></td>
          </tr>
          <tr>
            <td width="140"><p>Labor</p></td>
            <td width="100"><%= "$#{PressJob.oldest(job.press_jobs).labor_cost}"%></td>
          </tr>
          <tr>
            <td width="140"><p>Service</p></td>
            <td width="100"><%= "$#{PressJob.oldest(job.press_jobs).spi_cost.round(2)}"%></td>
          </tr>
          <tr>
            <td width="140"><p>Clicks</p></td>
            <td width="100"><%= "$#{PressJob.oldest(job.press_jobs).calculated_clicks_cost.round(2)}"%></td>
          </tr>
          <tr>
            <td width="140"><strong>Total</strong></td>
            <td width="100"><strong><%= "$#{}"%></strong></td>
          </tr>
        </table>
        <br />
        <table class="cost-analysis-table">
          <tr>
            <td width="140"><p>Cost per Job</p></td>
            <td width="100"><%= "$"%></td>
          </tr>
          <tr>
            <td width="140"><p>Cost per Copy</p></td>
            <td width="100"><%= "$"%></td>
          </tr>
          <tr>
            <td width="140"><p>No. jobs per month</p></td>
            <td width="100"><%= "$"%></td>
          </tr>
          <tr>
            <td width="140"><p>Copies per job</p></td>
            <td width="100"><%= "$"%></td>
          </tr>
        </table>
  </div>

</div>


