<div class="press-cost-summary-container">
  <div class="press-cost-summary-navigation" >
    <%= link_to '<i class="foundicon-left-arrow icon-tiny next-arrow press-cost-summary-carousel"></i>'.html_safe, "#" %>
    <h3 class="subheader inline-header"><%= job.name %></h3>
    <%= link_to '<i class="foundicon-right-arrow icon-tiny next-arrow press-cost-summary-carousel"></i>'.html_safe, "#" %>
  </div>
  <div class="left-press">
    <%= image_tag("#{PressJob.newest(job.press_jobs).press_type.icon.url(:small) if PressJob.newest(job.press_jobs).press_type.icon.present?}") %>
    <h4 class="subheader"><%= PressJob.newest(job.press_jobs).press_type.name %> </h4>
    <div id="chart_<%= PressJob.newest(job.press_jobs).id %>" style="width: 350px; height: 200px;"></div>
  </div>
  <% if PressJob.newest(job.press_jobs) != PressJob.oldest(job.press_jobs) %>
      <div class="right-press">
        <%= image_tag("#{PressJob.oldest(job.press_jobs).press_type.icon.url(:small) if PressJob.oldest(job.press_jobs).press_type.icon.present?}") %>
        <h4 class="subheader"><%= PressJob.oldest(job.press_jobs).press_type.name %> </h4>
        <div id="chart_<%= PressJob.oldest(job.press_jobs).id %>" style="width: 350px; height: 200px;"></div>
      </div>
<% end %>
</div>
<script language="javascript">
  window.press_job_ids = <%= @press_job_ids %>;
  window.costs = <%=raw @dashboard_costs.to_json %>;
  window.revenue = <%=raw @dashboard_revenue.to_json %>;
</script>