<div class="press-cost-summary-container">
  <div class="press-cost-summary-navigation" >
    <%= link_to '<i class="foundicon-left-arrow icon-tiny next-arrow press-cost-summary-carousel"></i>'.html_safe, "#" %>
    <h3 class="subheader inline-header"><%= job.name %></h3>
    <%= link_to '<i class="foundicon-right-arrow icon-tiny next-arrow press-cost-summary-carousel"></i>'.html_safe, "#" %>
  </div>
  <div class="left-press">
    <%= image_tag("#{PressJob.newest(job.press_jobs).press_type.icon.url(:small) if PressJob.newest(job.press_jobs).press_type.icon.present?}") %>
    <h4 class="subheader"><%= PressJob.newest(job.press_jobs).press_type.name %> </h4>
    <%= form_for(PressJob.newest(job.press_jobs), :remote => true) do |f| %>
        <table class="press-job-values-table">
              <tr>
                <td width="200"><p style="font-size: small;">Monthly Press Cost</p></td>
                <td width="100"><%= f.text_field :press_cost, :class => "press-job-values", :id => "update_press_cost_#{PressJob.newest(job.press_jobs).id}", :placeholder => "USD $" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;"><%= job.job_size %> Cost / Sheet</p></td>
                <td width="100"><%= f.text_field :media_cost, :class => "press-job-values", :id => "update_media_cost_#{PressJob.newest(job.press_jobs).id}", :placeholder => "#{PressJob.newest(job.press_jobs).media_cost}" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;">Monthly Labor Cost</p></td>
                <td width="100"><%= f.text_field :labor_cost, :class => "press-job-values", :id => "update_labor_cost_#{PressJob.newest(job.press_jobs).id}", :placeholder => "USD $" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;">Monthly SPI</p></td>
                <td width="100"><%= f.text_field :spi_cost, :class => "press-job-values", :id => "update_spi_cost_#{PressJob.newest(job.press_jobs).id}", :placeholder => "#{PressJob.newest(job.press_jobs).spi_cost}" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;">Clicks/CPP</p></td>
                <td width="100"><%= f.text_field :clicks_cost, :class => "press-job-values", :id => "update_clicks_cost_#{PressJob.newest(job.press_jobs).id}", :placeholder => "#{PressJob.newest(job.press_jobs).clicks_cost}" %></td>
              </tr>
        </table>
    <% end %>
  </div>
  <div class="right-press">
    <%= image_tag("#{PressJob.oldest(job.press_jobs).press_type.icon.url(:small) if PressJob.oldest(job.press_jobs).press_type.icon.present?}") %>
    <h4 class="subheader"><%= PressJob.oldest(job.press_jobs).press_type.name %> </h4>
    <%= form_for(PressJob.oldest(job.press_jobs), :remote => true) do |f| %>
        <table class="press-job-values-table">
          <tr>
			<td width="200"><p style="font-size: small;">Monthly Press Cost</p></td>
            <td width="100"><%= f.text_field :press_cost, :class => "press-job-values", :id => "update_press_cost_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "USD $" %></td>
          </tr>
          <tr>
			<td width="200"><p style="font-size: small;"><%= job.job_size %> Cost / Sheet</p></td>
            <td width="100"><%= f.text_field :media_cost, :class => "press-job-values", :id => "update_media_cost_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "#{PressJob.oldest(job.press_jobs).media_cost}" %></td>
          </tr>
          <tr>
			<td width="200"><p style="font-size: small;">Monthly Labor Cost</p></td>
            <td width="100"><%= f.text_field :labor_cost, :class => "press-job-values", :id => "update_labor_cost_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "USD $" %></td>
          </tr>
          <tr>
			<td width="200"><p style="font-size: small;">Monthly SPI</p></td>
            <td width="100"><%= f.text_field :spi_cost, :class => "press-job-values", :id => "update_spi_cost_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "#{PressJob.oldest(job.press_jobs).spi_cost}" %></td>
          </tr>
          <tr>
            <td width="100"><p style="font-size: small;">Clicks/CPP</p></td>
            <td width="100"><%= f.text_field :clicks_cost, :class => "press-job-values", :id => "update_clicks_cost_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "#{PressJob.oldest(job.press_jobs).clicks_cost}" %></td>
          </tr>
        </table>
    <% end %>
  </div>

</div>


