<div class="press-cost-summary-container">
  <div class="press-cost-summary-navigation" >
    <%= link_to '<i class="foundicon-left-arrow icon-tiny next-arrow press-cost-summary-carousel"></i>'.html_safe, "#" %>
    <h3 class="subheader inline-header"><%= job.name %></h3>
    <%= link_to '<i class="foundicon-right-arrow icon-tiny next-arrow press-cost-summary-carousel"></i>'.html_safe, "#" %>
  </div>
  <div class="left-press">
    <%= image_tag("#{PressJob.newest(job.press_jobs).press_type.icon.url(:small) if PressJob.newest(job.press_jobs).press_type.icon.present?}") %>
    <h4 class="subheader"><%= PressJob.newest(job.press_jobs).press_type.name %> </h4>
    <%= form_for(PressJob.newest(job.press_jobs), :remote => true) do |f| %>
        <table class="press-job-values-table">
              <tr>
                <td width="200"><p style="font-size: small;">Press Price</p></td>
                <td width="100"><%= f.text_field :press_price, :class => "press-job-values", :id => "update_press_price_#{PressJob.newest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.newest(job.press_jobs).press_price, 0)}" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;"><%= job.job_size %> Cost / Sheet</p></td>
                <td width="100"><%= f.text_field :cost_per_sheet, :class => "press-job-values", :id => "update_cost_per_sheet_#{PressJob.newest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.newest(job.press_jobs).cost_per_sheet, 2)}" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;">Monthly Labor Cost</p></td>
                <td width="100"><%= f.text_field :labor_cost, :class => "press-job-values", :id => "update_labor_cost_#{PressJob.newest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.newest(job.press_jobs).labor_cost, 0)}" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;">Monthly SPI</p></td>
                <td width="100"><%= f.text_field :spi_cost, :class => "press-job-values", :id => "update_spi_cost_#{PressJob.newest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.newest(job.press_jobs).calculated_spi_cost, 2)}" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;">Click Price</p></td>
                <td width="100"><%= f.text_field :click_price, :class => "press-job-values", :id => "update_click_price_#{PressJob.newest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.newest(job.press_jobs).click_price, 4)}" %></td>
              </tr>
        </table>
    <% end %>
  </div>
  <% if PressJob.newest(job.press_jobs) != PressJob.oldest(job.press_jobs) %>
      <div class="right-press">
        <%= image_tag("#{PressJob.oldest(job.press_jobs).press_type.icon.url(:small) if PressJob.oldest(job.press_jobs).press_type.icon.present?}") %>
        <h4 class="subheader"><%= PressJob.oldest(job.press_jobs).press_type.name %> </h4>
        <%= form_for(PressJob.oldest(job.press_jobs), :remote => true) do |f| %>
            <table class="press-job-values-table">
              <tr>
                <td width="200"><p style="font-size: small;">Press Price</p></td>
                <td width="100"><%= f.text_field :press_price, :class => "press-job-values", :id => "update_press_price_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.oldest(job.press_jobs).press_price, 0)}" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;"><%= job.job_size %> Cost / Sheet</p></td>
                <td width="100"><%= f.text_field :cost_per_sheet, :class => "press-job-values", :id => "update_cost_per_sheet_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.oldest(job.press_jobs).cost_per_sheet, 2)}" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;">Monthly Labor Cost</p></td>
                <td width="100"><%= f.text_field :labor_cost, :class => "press-job-values", :id => "update_labor_cost_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.oldest(job.press_jobs).labor_cost, 0)}" %></td>
              </tr>
              <tr>
                <td width="200"><p style="font-size: small;">Monthly SPI</p></td>
                <td width="100"><%= f.text_field :spi_cost, :class => "press-job-values", :id => "update_spi_cost_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.oldest(job.press_jobs).calculated_spi_cost, 2)}" %></td>
              </tr>
              <tr>
                <td width="100"><p style="font-size: small;">Clicks Price</p></td>
                <td width="100"><%= f.text_field :click_price, :class => "press-job-values", :id => "update_click_price_#{PressJob.oldest(job.press_jobs).id}", :placeholder => "$#{enforce_float_zeros(PressJob.oldest(job.press_jobs).click_price, 4)}" %></td>
              </tr>
            </table>
        <% end %>
      </div>
  <% end %>

</div>


