<div class="press-cost-summary-container">
  <div class="press-cost-summary-navigation" >
    <%= link_to '<i class="foundicon-left-arrow icon-tiny next-arrow press-roi-carousel"></i>'.html_safe, "#" %>
    <h3 class="subheader inline-header"><%= press_job.press_type.name %></h3>
    <%= link_to '<i class="foundicon-right-arrow icon-tiny next-arrow press-roi-carousel"></i>'.html_safe, "#" %>
  </div>
  <br>

  <div id="chart_<%= press_job.id %>" style="max-width: 90%; height: 320px;" style="display: none"></div>

  <table id="table_<%= press_job.id %>" class="roi-table">
    <tr>
      <th>ROI</th>
      <th>Payback Period (Months)</th>
      <th>Total Profit</th>
      <th>Total Costs</th>
      <th>Production Life (Months)</th>
    </tr>
    <tr>
      <td>26%</td>
      <td>47</td>
      <td>$2,338,446</td>
      <td>$9,046,159</td>
      <td>84</td>
    </tr>
  </table>
</div>



<script language="javascript">
    window.press_job_ids = <%= @press_job_ids %>;
    window.costs = <%=raw @roi_costs.to_json %>;
    window.revenue = <%=raw @roi_revenue.to_json %>;
</script>